<div class="link row clearfix">
  <p>

    <%=link_to "All Emojis",:controller => 'links', :action => 'index' %>

<b>
  <%=link_to "My Emojis",:controller => 'profile', :action => 'index' %>
</b>
</p>


</div>


<% @links.reverse_each do |link| %>
<div class="link row clearfix">
  <h1>
    <%= link_to link.title, link %><br>
  </h1>
  <h4>  <%= link.description %><br></h4>
  <p><small class="author">Submitted <%= time_ago_in_words(link.created_at) %> ago by <%= link.user.username %>

  <br> <%= link_to "#{link.comments.count} comments", link %> </p></small>



</div>
<% end %>
